<div class=" mt-5">
    <div class="col-md-6 mx-auto">
        <form [formGroup]="formLogin" (ngSubmit)="login()">

            <div class="form-group">
                <label for="email">{{"Login.Email" | translate}}</label>
                <input formControlName="email" class="form-control" id="email">
            </div>
            <div class="alert alert-danger" *ngIf="formLogin.get('email').invalid && (formLogin.get('email').touched || formLogin.get('email').dirty) ">
                <div *ngIf="formLogin.get('email').getError('required')">{{"Login.EmailRequis" | translate}}</div>
                <div *ngIf="formLogin.get('email').getError('email')">{{"Login.EmailErreur" | translate}}</div>

            </div>

            <div class="form-group">
                <label for="password">{{"Login.Mdp" | translate}}</label>
                <input formControlName="password" type="password" class="form-control" id="password">
            </div>
            <div class="alert alert-danger" *ngIf="formLogin.get('password').invalid && (formLogin.get('password').touched || formLogin.get('password').dirty  )">
                <div *ngIf="formLogin.get('password').getError('required')">{{"Login.LoginRequis" | translate}}</div>
                <div *ngIf="formLogin.get('password').getError('minlength')">{{"Login.LoginErreur" | translate}}</div>
            </div>
            <button [disabled]="formLogin.invalid" class="btn btn-primary black-background white btn-block">{{"Commun.Connexion" | translate}}</button>
        </form>
        <div id="selectLang">
            <label for="language-select">{{"Login.SelectLang" | translate}}</label>
            <button class="lang" (click)="useLanguage('fr')">FRA</button>
            <button class="lang" (click)="useLanguage('en')">ENG</button>
        </div>
    </div>
</div>